/* Yellow color for breadcrumbs: #ffdd00 */
/* Top nav link color - desktop:  */

:root {
  --deep-red-theme: #82001c;
  --top-nav-font-color: #ff8fa7;
  --main-font-color: #464646;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-font-color);
  margin: 0;
  min-height: 100vh;
  padding-bottom: 25px;
}

.container {
  width: 80%;
  max-width: 980px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

nav .fa-bars {
  color: #fff;
  display: none;
}

.top-nav-bg {
  background: url('img/top-nav-bg.jpg');
  background-repeat: no-repeat;
  /* Resizes image to ensure it's fully visible */
  background-size: contain;
  /* Needed so it doesn't move around based on content within it (such as changing p tag margin) */
  min-height: 30px;
}

.top-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-nav-container a,
.top-nav-container p {
  letter-spacing: 0.5px;
  font-size: 11px;
  color: var(--top-nav-font-color);
}

.top-nav-container p {
  margin: 0.64em 0;
}

nav ul {
  display: flex;
  margin: 0;
}

nav ul li {
  list-style-type: none;
}

/* Text in top nav */
.free-shipping {
  color: #fff;
}

.top-nav-container a {
  margin-left: 30px;
  font-weight: bold;
}

.mid-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 980px;
}

.mid-nav-options {
  display: flex;
  align-items: flex-end;
}

/* "Give us a call" text */
.mid-nav-container p {
  color: var(--deep-red-theme);
  text-align: right;
  margin-left: 90px;
}

.mid-nav-heavy-text {
  font-size: 20px;
  font-weight: bold;
  font-family: 'Roboto Condensed', sans-serif;
}

/* DROPDOWN BUTTON - https://www.w3schools.com/howto/howto_js_dropdown.asp */
.drop-btn {
  border: none;
  cursor: pointer;
  background: transparent;
  color: var(--deep-red-theme);
  padding: 10px;
  text-align: left;
  font-size: 11px;
  letter-spacing: 0.5px;
  margin-left: 90px;
}

.drop-btn:focus {
  outline: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
  padding: 12px 16px;
  display: block;
  color: var(--main-font-color);
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* END DROPDOWN BUTTON */

.breadcrumbs-container {
  background: #ffdd00;
  padding: 7px 0;
}

ul.breadcrumbs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 0;
}

ul.breadcrumbs li a {
  color: var(--main-font-color);
  font-size: 12px;
}

/* Adding pseudoelement (\00a0 is a nonbreaking space) to adjacent sibling of li in breadcrumbs list */
ul.breadcrumbs li + li::before {
  padding: 8px;
  content: '/\00a0';
}

.mobile-logo {
  display: none;
}

/* Contains side nav and products grid */
.main-content-container {
  display: flex;
}

.products {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.product {
  border: 1px solid #c9c9c9;
  min-height: 172px;
  position: relative;
}

.product > img {
  height: 145px;
  width: 100%;
  object-fit: cover;
}

.product-name {
  font-weight: bold;
  font-size: 13px;
  margin: 0;
  padding: 10px;
}

.product .overlay {
  position: absolute;
  font-size: 20px;
  letter-spacing: 0.75px;
  border: 2px solid var(--deep-red-theme);
  padding: 8px 30px;
  text-align: center;
  color: var(--deep-red-theme);
  font-weight: bold;
  background: #fff;
  display: none;
  cursor: pointer;
  /* https://medium.com/front-end-weekly/absolute-centering-in-css-ea3a9d0ad72e */
  top: 50%;
  left: 50%;
  /*  x-axis increases horizontally to the right, y-axis increases vertically downwards - pulling element to left by half its width and up by half its width */
  transform: translate(-50%, -50%);
}

.product:hover .overlay {
  display: block;
}

.product:hover img,
.product:hover p {
  opacity: 0.5;
}

/* "Spare Parts" text */
h1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 40px;
  margin-bottom: 0.5em;
}

/* "Filter Parts" text */
h2 {
  margin: 0 0 2em;
  font-size: 14px;
}

/* SIDE NAV */

.side-nav-container {
  width: 16%;
  margin-right: 4%;
}

.side-nav {
  /* Removing default padding-inline-start of 40px */
  padding: 0;
}

.side-nav li {
  padding: 5px 0;
  border-bottom: solid 1px #c9c9c9;
}

.side-nav li:last-of-type {
  border-bottom: 0;
}

.side-nav li a {
  color: var(--main-font-color);
  font-size: 14px;
}

.side-nav li i {
  display: none;
  text-align: right;
}

.side-nav li:hover i,
.side-nav li.active i {
  display: inline-block;
}

ul.side-nav li.active a {
  font-weight: bold;
}

ul.side-nav li a:hover {
  font-weight: bold;
}

i.fa-angle-right {
  float: right;
}

ul.breadcrumbs li,
.side-nav li {
  list-style-type: none;
}

/* END SIDE NAV */

/* Media queries */

/* Mobile */
@media screen and (max-width: 767px) {
  body {
    padding-bottom: 0;
  }

  .top-nav-bg {
    background: none;
  }

  .top-nav-container {
    background-color: var(--deep-red-theme);
  }

  nav {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 100%;
  }

  nav .fa-bars {
    display: block;
    position: absolute;
    left: 15px;
    padding: 10px;
  }

  nav ul.active {
    display: none;
  }

  nav ul {
    width: 100%;
    display: block;
    position: absolute;
    top: 60px;
    background: var(--deep-red-theme);
    z-index: 1;
    margin-left: 0;
    padding-left: 0;
  }

  nav ul li {
    padding: 30px;
    text-align: center;
  }

  .top-nav-container {
    flex-direction: column;
  }

  .top-nav-container a {
    margin-left: 0;
    display: block;
    width: 100%;
  }

  .desktop-logo {
    display: none;
  }

  p.announcement-desktop {
    display: none;
  }

  .mid-nav-container p {
    display: none;
  }

  h1 {
    margin-left: 10px;
  }

  .side-nav-container {
    display: none;
  }

  .mobile-logo {
    display: inline-block;
  }

  .mid-nav-container {
    justify-content: center;
  }

  .drop-btn {
    margin-left: 10px;
  }

  .breadcrumbs-container {
    margin-top: 0;
    padding: 15px;
  }

  ul.breadcrumbs li + li::before {
    padding: 5px;
  }

  ul.breadcrumbs li a {
    padding-right: 4px;
  }

  .container {
    width: 100%;
  }

  .main-content-container {
    width: 100%;
  }

  .products {
    width: 100%;
    grid-template-columns: 1fr 1fr;
  }

  .product {
    border: none;
  }
}

/* Tablets - same as Bootstrap 4 col-md */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .top-nav-bg {
    background: none;
    background-color: var(--deep-red-theme);
    padding: 10px;
    text-align: center;
  }

  .top-nav-container {
    justify-content: center;
  }

  .top-nav-container a {
    color: #fff;
  }

  p.announcement-desktop {
    display: none;
  }

  .products {
    grid-template-columns: repeat(3, 1fr);
  }

  .container {
    width: 95%;
  }

  .drop-btn {
    margin-left: 20px;
  }

  .breadcrumbs-container {
    padding: 10px;
  }

  .mid-nav-container p {
    margin-left: 20px;
  }
}
